{% load static %}
{% load mem_tags %}
<html>
<head>
	<title>{{ title }}</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />


</head>
<body>
<div class="shell">
	<div class="border">

		{% show_categories %}


		<div id="main">
			<div id="content" class="left">

		{% block content %}

		{% endblock %}

			</div>
		</div>

		<div class="cl">&nbsp;</div>
	</div>


	</div>
{% if page_obj.has_other_pages %}
<nav class="list-pages">
    <ul>
{% if page_obj.has_previous %}
<li class="page-num">
	<a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
</li>
{% endif %}

        {% for p in paginator.page_range %}
		{% if page_obj.number == p %}
        <li class="page-num page-num-selected">{{ p }}</li>
		{% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
        <li class="page-num">
            <a href="?page={{ p }}">{{ p }}</a>
        </li>
		{% endif %}
        {% endfor %}

{% if page_obj.has_next %}
<li class="page-num">
	<a href="?page={{ page_obj.next_page_number }}">&gt;</a>
</li>
{% endif %}

    </ul>
</nav>
{% endif %}
	</div>
	<div id="footer">
		<p class="copy right">Copyright &copy;  2022 </p>
	</div>
</div>
</body>
</html>